.button {
  background-color: #000;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 0.25rem;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin: 4px 0;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
}
