.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
  align-self: flex-start;
  background: transparent;

  label {
    font-size: 15px;
    margin-bottom: 0.25rem;
    display: block;
    color: #fff;
  }
}

.dropdownButton {
  background-color: transparent;
  border: 1px solid #ccc;
  color: #fff;
  padding: 0.25rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100%;
  font-size: 16px;
  box-sizing: border-box;
}

.dropdownButton:hover {
  border-color: #f0f0f0; // Optional hover effect
}

.dropdownButton:focus {
  outline: none;
  border-color: #fff; // Optional focus effect
}

.dropdownList {
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  background-color: #fff;

  backdrop-filter: blur(10px);
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;

  span {
    display: block; /* Mimic the behavior of <p> */
    padding: 0.25rem;
    margin: 0;
    text-align: center;
    font-size: 16px;
  }
}

.dropdownItem {
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.dropdownItem:hover {
  background-color: #f0f0f0;
}

.selectedItem {
  background-color: #e0e0ff;
}

.asterisk {
  color: red;
  margin-left: 2px;
}

@media screen and (max-width: 650px) {
  .dropdown {
    label {
      font-size: 0.9rem;
    }
  }
}
